* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}

body {
    background-color: rgb(199, 235, 247);
    text-align: center;
    justify-content: center;
    display: flex;
}

.mainpage {
    height: 80vh;
    width: 30%;
    border-radius: 40px;
    box-shadow: 3px 3px 20px rgb(139, 184, 185);
    background: rgb(153, 224, 230);
    background: linear-gradient(357deg, rgb(189, 238, 241) 0%, rgb(135, 188, 228) 100%);
    position: relative;
    padding-top: 20px;
    top: 100px;
    margin: 10px 0;
    text-align: center;
}

.mainpage>.title {
    color: white;
    font-weight: 100;
    font-size: 60px;
}

.weather {
    position: absolute;
    top: 30%;
    height: 30%;
    width: 100%;
    line-height: 90px;
    color: white;
}


.weather>.temp {
    font-size: 100px;
    font-weight: 100;
}